<header>
  <div class="name" href="/">&lt;/&gt; Pasteez</div>
  <nav>
    <ul class="navlinks">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>

<div class="home-container">
  <div class="home-heading">
    Welcome to your dashboard,
  </div>
  <br />
  <div class="home-sub-heading">
  </div>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-content">made by team <b>RamenCoders</b></div>
  </div>
</footer>